.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  min-width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 50%;
  /* margin: 0 4px; */
  animation: animate 15s linear infinite;
  opacity: 20%;
}

.bubbles span:nth-child(even) {
  background-color: red;
}

/* @keyframes animate {
  0% {
    transform: translateY(0) rotate(0) scale(0);
  }
  100% {
    transform: translateY(-90px) rotate(360deg) scale(1.3);
  }
} */

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
