@import 'tailwindcss';

@theme {
  --text-md: 0.95rem;
  --text-md--line-height: 1.5rem;

  --color-primary: #fffffe;
  --color-secondary: #1230ae;
  --color-accent: #f5004f;
  --color-neutral: #040d12;
  --breakpoint-2xl: 125rem;
}

@layer utilities {
  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-primary text-neutral font-[Barlow];
    background-color: var(--color-primary);
    color: var(--color-neutral);
    font-family: 'Barlow';
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
}

.section_header {
  @apply text-4xl relative md:text-5xl xl:text-5xl text-center w-full font-medium lg:font-semibold font-[Raleway] text-secondary drop-shadow-md;
}

.scrollToTop::after {
  content: '';
  position: absolute;
  background-color: #1d4ed8;
  z-index: 10;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50px;
  height: 0.2rem;
  background: #f5004f;
  box-shadow: 0 1px 1px 0.5px rgba(245, 0, 79, 0.2),
    0 0.5px 0.5px rgba(245, 0, 79, 0.1);
}

::-webkit-scrollbar {
  width: 6px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #1d4ed8;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
